<p>Date widget missing</p>
<reporting-figures></reporting-figures>
<p>Type of view missing</p>
<offices></offices>
<p>Composed Regions and Countries Missing</p>
<uw></uw>
<lobs></lobs>
<primary-excess></primary-excess>
<company-type></company-type>
<p>Operations Type missing</p>
<p>Business Type missing</p>
<p>Extra checkboxes missing</p>
<button class="btn btn-default">Run Report</button>

<hr>

<h4>JSON</h4>
<button (click)="getJson()">Update JSON</button><p>{{json}}</p>

<button (click)="forceRefresh()">Refresh All</button>