<div class="row">
  <div class="col-md-12">
    <h1>{{title}}</h1>

    <radios [title]="'Radios'" [fieldset]="f1"></radios>
    <checkboxes [title]="'Checkboxes'" [fieldset]="f2" ></checkboxes>
    <my-select [title]="'MultiSelect'" [fieldset]="f3" [multiple]="true"></my-select>
    <my-select [title]="'Select'" [fieldset]="f4" [multiple]="false"></my-select>

    <hr>

    <h2>Form Results</h2>

    <h3>JSON</h3>
    {{getJSON()}}

    <hr>

    <h2>External Events</h2>

    <h4>Radios values: {{getOutput('myRadios')}}</h4>
    <button (click)="reset('f1')">reset radios</button>

    <h4>Checkboxes Values: {{getOutput('myCheckboxes')}}</h4>
    <button (click)="toggleVisibility('f2','one')">toggle visibility set one</button>
    <button (click)="toggleVisibility('f2','two')">toggle visibility set two</button>
    <button (click)="toggleVisibility('f2','three')">toggle visibility set three</button>
    <br/>
    <button (click)="reset('f2')">reset checkboxes</button>

    <h4>MultiSelect: {{getOutput('select1')}}</h4>
    <button (click)="reset('f3')">reset multiselect</button>

    <h4>Select: {{getOutput('select2')}}</h4>
    <button (click)="reset('f4')">reset select</button>

  </div>
</div>