<div class="row">
  <div class="col-md-12">
    
    <h2>Form Results</h2>

    <h3>Form values in JSON</h3>
    <div class="well">
      {{getJSON()}}
    </div>

    <hr>

    <h3>Radios</h3>

    <div class="well">
      <radios [title]="'Radios'" [fieldset]="f1"></radios>
    </div>

    <h4>Events</h4>

    <div class="well">
      {{getOutput('f1')}}
    </div>
    <button (click)="reset('f1')">reset radios</button>

    <hr>

    <h3>Checkboxes</h3>

    <div class="well">
      <checkboxes [title]="'Checkboxes'" [fieldset]="f2" ></checkboxes>
    </div>

    <h4>Events</h4>

    <div class="well">
      {{getOutput('f2')}}
    </div>

    <button (click)="toggleVisibility('f2','one')">toggle visibility set one</button>
    <button (click)="toggleVisibility('f2','two')">toggle visibility set two</button>
    <button (click)="toggleVisibility('f2','three')">toggle visibility set three</button>
    <br/>
    <button (click)="reset('f2')">reset checkboxes</button>

    <hr>

    <h3>Select multiple</h3>

    <div class="well">
      <my-select [title]="'MultiSelect'" [fieldset]="f3" [multiple]="true"></my-select>
    </div>

    <h4>Events</h4>

    <div class="well">
      {{getOutput('f3')}}
    </div>
    <button (click)="reset('f3')">reset multiselect</button>

    <hr>

    <h3>Select simple</h3>

    <div class="well">
      <my-select [title]="'Select'" [fieldset]="f4" [multiple]="false"></my-select>
    </div>

    <h4>Events</h4>

    <div class="well">
      {{getOutput('f4')}}
    </div>

    <button (click)="reset('f4')">reset select</button>

  </div>
</div>