<button (click)="validate()">Validate</button>
<form-error [errorMessages]="errorMessages" (hovering)="getHover($event)"></form-error>

<p>Date widget missing</p>

<reporting-figures></reporting-figures>

<type-of-view></type-of-view>
<offices></offices>
<!--groups-countries-regions></groups-countries-regions-->

    <regions-set></regions-set>
    <regions></regions>
    <countries></countries>

<uw></uw>
<lobs></lobs>
<primary-excess></primary-excess>
<company-type></company-type>
<p>Operations Type missing</p>
<p>Business Type missing</p>
<p>Extra checkboxes missing</p>
<run-report></run-report>

<hr>

<h4>JSON</h4>
<button (click)="getJson()">Update JSON</button><p>{{json}}</p>
<button (click)="forceRefresh()">Refresh All</button>